@media (max-width: 500px) {

	.scene-container_2,
	.scene-container_1 {
		display: none;
	}

	.scene-container_3 {
		max-width: 75%;
		margin-top: min(60px, 4.16vw);
	}

	.scene-cover_element_1 {
		max-width: 100%;
	}

	.scene-cover_element_2,
	.scene-cover_element_1 {
		background-image: url(../images/arrow.png);
		background-repeat: no-repeat;
		background-size: min(71px, 8vw), min(38px, 5vw);
		background-position: 100% 50%;
		display: flex;
		justify-content: center;
		transform: rotate(180deg);
	}

	.scene-description_title {
		font-size: 5vw;
	}

	.scene-description_information {
		font-size: 2.7vw;
	}

	.scene-description_button {
		font-size: 2.5vw;
		padding: 2vw 1.6vw;
	}

	.cards-wrapper {
		grid-template-columns: 1fr;
		width: min(550px, 38.2vw);
		height: min(300px, 20.83vw);
	}

	.card-box:nth-child(2n),
	.card-box:nth-child(3n),
	.card-box:nth-child(4n),
	.card-box:nth-child(5n),
	.card-box:nth-child(6n) {
		display: none;
	}

	.card-box {
		height: min(399px, 31.8vw);
	}

	.cards-container {
		background-image: url(../images/arrow.png);
		background-repeat: no-repeat;
		background-size: min(71px, 8vw), min(38px, 5vw);
		background-position: 88% 48%;
		display: flex;
		height: min(670px, 46.5vw);
		transform: rotate(180deg);
	}

	.cards-cover {
		width: 100%;
		background-image: url(../images/arrow.png);
		background-repeat: no-repeat;
		background-size: min(71px, 8vw), min(38px, 5vw);
		background-position: 88% 48%;
		display: flex;
		justify-content: center;
		transform: rotate(180deg);
	}
}
