body {
	margin: 0;
	padding: 0;
	font-family: 'DM Sans', sans-serif;
	font-size: 18px;
	color: #FFF;
	background: #191919;
}

* {
	box-sizing: border-box;
}

section {
	max-width: 1440px;
	margin: 0 auto;
}

.epilogue {
	max-width: 97.2%;
	margin: 0 auto;
}

.epilogue-container {
	width: 90.27vw;
	margin: 0 auto;
}

.epilogue-wrapper {
	margin-top: 6.94vw;
	display: flex;
	gap: 4.16vw;
}

.epilogue-description {
	width: 40.97vw;
	align-self: center;
}

.epilogue-description_arrow {
	padding: 2.5vw 1.375vw;
	background: #118DA8;
	border-radius: 27.7vw;
	width: 7.93vw;
}

.epilogue-description_appeal {
	color: #118DA8;
	margin-bottom: 0;
}

h2 {
	font-size: 4.3vw;
	margin: 0;
	font-weight: 400;
}

h4 {
	color: rgba(255, 255, 255, 0.70);
	margin-bottom: 2.08vw;
	font-size: 1.5vw;
	font-weight: 400;
	line-height: 150%;
}

.epilogue-image {
	align-self: center;
}

.epilogue-image_photo {
	width: 100%;
}
