@media (max-width: 768px) {

	.header-container {
		height: min(67px, 4.65vw);
	}

	.headers-menu_button {
		display: none;
	}

	.headers-menu_button-main {
		display: none;
	}

	.header-menu {
		background-image: url(../images/hamburger-menu.svg);
		background-size: min(50px, 3.47vw) min(50px, 3.47vw);
		width: min(50px, 3.47vw);
		height: min(50px, 3.47vw);
	}

	.header-container {
		align-items: center;
	}

	.element-decor,
	.preview_image {
		display: none;
	}

	.preview-container {
		display: flex;
	}

	.preview-wrapper {
		padding-top: min(80px, 5.55vw);
	}

	.preview-description {
		width: min(780px, 54vw);
		box-sizing: none;
		padding: 0;
		text-align: center;
	}

	.title {
		letter-spacing: 0.1;
	}

	.contacts-wrapper {
		display: flex;
		justify-content: center;
	}

	.title-contacts {
		margin: 0;
		font-size: min(30px, 2vw);
	}

	h1::after {
		right: min(335px, 23.26vw);
	}

	.contacts-wrapper_contacts {
		gap: min(18px, 1.25vw);
		margin-left: min(200px, 13.8vw);
	}

	.episodes-wrapper {
		padding-bottom: min(60px, 4.16vw);
	}

	.episodes-title {
		justify-content: center;
	}

	.scenes-wrapper {
		max-width: 75.27vw;
	}

	.scene-container {
		flex-direction: column;
		width: min(900px, 62.5vw);
		width: auto;
		padding: 0;
	}

	.musical_tools,
	.scene-description_method,
	.scene-description_episode,
	.scene-description_method_2,
	.episodes-title_general-button {
		display: none;
	}

	.scene-description {
		padding: min(40px, 2.77vw);
		max-width: none;
		text-align: center;
	}

	.scene-description_title,
	.scene-description_information {
		width: auto;
	}

	.scene-description_title {
		font-size: min(55px, 3.82vw);
		margin: 0;
	}

	.scene-description_information {
		font-size: min(27px, 1.87vw);
	}

	.scene-description_button {
		font-size: min(25px, 1.74vw);
	}

	.scene-container_image_3,
	.scene-container_image_2,
	.scene-container_image_1 {
		margin: 0;
		height: min(600px, 41.6vw);
		border-radius: min(32px, 2.22vw);
		background-size: min(1300px, 92.8vw);
	}

	.scene-container_image_3 {
		background-image: url(../images/episode_3_adaptation.jpg);
	}

	.scene-container_image_2 {
		background-image: url(../images/episode_2_adaptation.jpg);
	}

	.scene-container_image_1 {
		background-image: url(../images/episode_1_adaptation.jpg);
	}
}
