@media (max-width: 768px) {

	.headers-menu_button {
		display: none;
	}

	.headers-menu_button-main {
		display: none;
	}

	.header-menu {
		background-image: url(../images/hamburger-menu.svg);
		background-size: min(50px, 3.47vw) min(50px, 3.47vw);
		width: min(50px, 3.47vw);
		height: min(50px, 3.47vw);
	}

	.header-container {
		align-items: center;
	}
}
