@media (max-width: 768px) {

	.header-container {
		height: min(67px, 4.65vw);
	}

	.headers-menu_button {
		display: none;
	}

	.headers-menu_button-main {
		display: none;
	}

	.header-menu {
		background-image: url(../images/hamburger-menu.svg);
		background-size: min(50px, 3.47vw) min(50px, 3.47vw);
		width: min(50px, 3.47vw);
		height: min(50px, 3.47vw);
	}

	.header-container {
		align-items: center;
	}

	.element-decor,
	.preview_image {
		display: none;
	}

	.preview-container {
		display: flex;
	}

	.preview-wrapper {
		padding-top: min(80px, 5.55vw);
	}

	.preview-description {
		width: min(780px, 54vw);
		box-sizing: none;
		padding: 0;
		text-align: center;
	}

	.title {
		letter-spacing: 0.1;
	}

	.contacts-wrapper {
		display: flex;
		justify-content: center;
	}

	.title-contacts {
		margin: 0;
		font-size: min(30px, 2vw);
	}

	h1::after {
		right: min(335px, 23.26vw);
	}

	.contacts-wrapper_contacts {
		gap: min(18px, 1.25vw);
		margin-left: min(200px, 13.8vw);
	}

	.epilogue-wrapper {
		flex-direction: column;
	}

	.epilogue-description {
		display: flex;
		width: auto;
	}

	.epilogue-description_appeal {
		display: none;
	}

	.epilogue-description {
		display: block;
		width: min(1000px, 69.4vw);
	}

	.epilogue-description_wrapper {
		display: flex;
		gap: min(50px, 3.47vw);
		justify-content: center;
	}

	.epilogue-description_for-adaptate {
		background-image: url(../images/epilogue.png);
		background-size: min(700px, 58.3vw) min(800px, 66.6vw);
		width: min(700px, 58.3vw);
		height: min(800px, 66.6vw);
		margin: 0 auto;
		margin-top: min(40px, 3.3vw);
		margin-bottom: min(40px, 3.3vw);
		border-radius: min(40px, 3.3vw);
	}

	.description_text {
		font-size: min(40px, 2.7vw);
		text-align: center;
	}

	.description_name {
		display: flex;
		align-items: center;
	}

	.epilogue-image {
		display: none;
	}

}
